/*CSS do design da página em geral*/

*{
    box-sizing: border-box;
}
body{
    background-color: white;
}

#dimensoesGerais{
    color: black;
    background-color: rgb(235, 235, 235);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 1px;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    text-align: justify;
    padding: 5%;
}

.ajustarMeio{
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(19, 121, 236);
}

a:hover{
    transition: 1000ms;
    color: red;
}
